.board {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.board {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
}

.center {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 1px;
  height: 1px;
  background-color: #000;
  z-index: 1;
}

.circle:first-child {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -10px;
}

.circle:last-child {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  bottom: -10px;
}

@-webkit-keyframes rotate0 {
  0% {
    top: 208.27367px;
    left: 328.80228px;
  }
  16.666667%, 83.333333% {
    top: 301.06947px;
    left: 275.2266px;
  }
  100% {
    top: 208.27367px;
    left: 328.80228px;
  }
}
@-webkit-keyframes rotate1 {
  0% {
    top: 243.57568px;
    left: 319.34313px;
  }
  16.666667%, 83.333333% {
    top: 319.34313px;
    left: 243.57568px;
  }
  100% {
    top: 243.57568px;
    left: 319.34313px;
  }
}
@-webkit-keyframes rotate2 {
  0% {
    top: 275.2266px;
    left: 301.06947px;
  }
  16.666667%, 83.333333% {
    top: 328.80228px;
    left: 208.27367px;
  }
  100% {
    top: 275.2266px;
    left: 301.06947px;
  }
}
@-webkit-keyframes rotate3 {
  0% {
    top: 301.06947px;
    left: 275.2266px;
  }
  16.666667%, 83.333333% {
    top: 328.80228px;
    left: 171.72633px;
  }
  100% {
    top: 301.06947px;
    left: 275.2266px;
  }
}
@-webkit-keyframes rotate4 {
  0% {
    top: 319.34313px;
    left: 243.57568px;
  }
  16.666667%, 83.333333% {
    top: 319.34313px;
    left: 136.42432px;
  }
  100% {
    top: 319.34313px;
    left: 243.57568px;
  }
}
@-webkit-keyframes rotate5 {
  0% {
    top: 328.80228px;
    left: 208.27367px;
  }
  16.666667%, 83.333333% {
    top: 301.06947px;
    left: 104.7734px;
  }
  100% {
    top: 328.80228px;
    left: 208.27367px;
  }
}
@-webkit-keyframes rotate6 {
  0% {
    top: 328.80228px;
    left: 171.72633px;
  }
  16.666667%, 83.333333% {
    top: 275.2266px;
    left: 78.93053px;
  }
  100% {
    top: 328.80228px;
    left: 171.72633px;
  }
}
@-webkit-keyframes rotate7 {
  0% {
    top: 319.34313px;
    left: 136.42432px;
  }
  16.666667%, 83.333333% {
    top: 243.57568px;
    left: 60.65687px;
  }
  100% {
    top: 319.34313px;
    left: 136.42432px;
  }
}
@-webkit-keyframes rotate8 {
  0% {
    top: 301.06947px;
    left: 104.7734px;
  }
  16.666667%, 83.333333% {
    top: 208.27367px;
    left: 51.19772px;
  }
  100% {
    top: 301.06947px;
    left: 104.7734px;
  }
}
@-webkit-keyframes rotate9 {
  0% {
    top: 275.2266px;
    left: 78.93053px;
  }
  16.666667%, 83.333333% {
    top: 171.72633px;
    left: 51.19772px;
  }
  100% {
    top: 275.2266px;
    left: 78.93053px;
  }
}
@-webkit-keyframes rotate10 {
  0% {
    top: 243.57568px;
    left: 60.65687px;
  }
  16.666667%, 83.333333% {
    top: 136.42432px;
    left: 60.65687px;
  }
  100% {
    top: 243.57568px;
    left: 60.65687px;
  }
}
@-webkit-keyframes rotate11 {
  0% {
    top: 208.27367px;
    left: 51.19772px;
  }
  16.666667%, 83.333333% {
    top: 104.7734px;
    left: 78.93053px;
  }
  100% {
    top: 208.27367px;
    left: 51.19772px;
  }
}
@-webkit-keyframes rotate12 {
  0% {
    top: 171.72633px;
    left: 51.19772px;
  }
  16.666667%, 83.333333% {
    top: 78.93053px;
    left: 104.7734px;
  }
  100% {
    top: 171.72633px;
    left: 51.19772px;
  }
}
@-webkit-keyframes rotate13 {
  0% {
    top: 136.42432px;
    left: 60.65687px;
  }
  16.666667%, 83.333333% {
    top: 60.65687px;
    left: 136.42432px;
  }
  100% {
    top: 136.42432px;
    left: 60.65687px;
  }
}
@-webkit-keyframes rotate14 {
  0% {
    top: 104.7734px;
    left: 78.93053px;
  }
  16.666667%, 83.333333% {
    top: 51.19772px;
    left: 171.72633px;
  }
  100% {
    top: 104.7734px;
    left: 78.93053px;
  }
}
@-webkit-keyframes rotate15 {
  0% {
    top: 78.93053px;
    left: 104.7734px;
  }
  16.666667%, 83.333333% {
    top: 51.19772px;
    left: 208.27367px;
  }
  100% {
    top: 78.93053px;
    left: 104.7734px;
  }
}
@-webkit-keyframes rotate16 {
  0% {
    top: 60.65687px;
    left: 136.42432px;
  }
  16.666667%, 83.333333% {
    top: 60.65687px;
    left: 243.57568px;
  }
  100% {
    top: 60.65687px;
    left: 136.42432px;
  }
}
@-webkit-keyframes rotate17 {
  0% {
    top: 51.19772px;
    left: 171.72633px;
  }
  16.666667%, 83.333333% {
    top: 78.93053px;
    left: 275.2266px;
  }
  100% {
    top: 51.19772px;
    left: 171.72633px;
  }
}
@-webkit-keyframes rotate18 {
  0% {
    top: 51.19772px;
    left: 208.27367px;
  }
  16.666667%, 83.333333% {
    top: 104.7734px;
    left: 301.06947px;
  }
  100% {
    top: 51.19772px;
    left: 208.27367px;
  }
}
@-webkit-keyframes rotate19 {
  0% {
    top: 60.65687px;
    left: 243.57568px;
  }
  16.666667%, 83.333333% {
    top: 136.42432px;
    left: 319.34313px;
  }
  100% {
    top: 60.65687px;
    left: 243.57568px;
  }
}
@-webkit-keyframes rotate20 {
  0% {
    top: 78.93053px;
    left: 275.2266px;
  }
  16.666667%, 83.333333% {
    top: 171.72633px;
    left: 328.80228px;
  }
  100% {
    top: 78.93053px;
    left: 275.2266px;
  }
}
@-webkit-keyframes rotate21 {
  0% {
    top: 104.7734px;
    left: 301.06947px;
  }
  16.666667%, 83.333333% {
    top: 208.27367px;
    left: 328.80228px;
  }
  100% {
    top: 104.7734px;
    left: 301.06947px;
  }
}
@-webkit-keyframes rotate22 {
  0% {
    top: 136.42432px;
    left: 319.34313px;
  }
  16.666667%, 83.333333% {
    top: 243.57568px;
    left: 319.34313px;
  }
  100% {
    top: 136.42432px;
    left: 319.34313px;
  }
}
@-webkit-keyframes rotate23 {
  0% {
    top: 171.72633px;
    left: 328.80228px;
  }
  16.666667%, 83.333333% {
    top: 275.2266px;
    left: 301.06947px;
  }
  100% {
    top: 171.72633px;
    left: 328.80228px;
  }
}
.box:nth-child(1) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 330px;
  top: 130px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(0deg);
}

.box:nth-child(2) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 311.24356px;
  top: 200px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(30deg);
}

.box:nth-child(3) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 260px;
  top: 251.24356px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(60deg);
}

.box:nth-child(4) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 190px;
  top: 270px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(90deg);
}

.box:nth-child(5) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 120.0px;
  top: 251.24356px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(120deg);
}

.box:nth-child(6) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 68.75644px;
  top: 200px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(150deg);
}

.box:nth-child(7) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50px;
  top: 130.0px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(180deg);
}

.box:nth-child(8) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 68.75644px;
  top: 60px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(210deg);
}

.box:nth-child(9) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 120.0px;
  top: 8.75644px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(240deg);
}

.box:nth-child(10) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 190.0px;
  top: -10px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(270deg);
}

.box:nth-child(11) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 260px;
  top: 8.75644px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(300deg);
}

.box:nth-child(12) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 311.24356px;
  top: 60.0px;
  width: 20px;
  height: 140px;
  -webkit-transform: rotate(330deg);
}
