$num: 24;
$width: 400px;
$outer-radius: 140px;
$inner-radius: 50px;
$circle-radius: 20px;
$box-num: $num / 2;
$center-xpos: $width / 2;
$center-ypos: $width / 2;
$box-width: $circle-radius;
$box-height: $outer-radius * sin(pi() * 3 / $num) * 2;
$box-radius: $outer-radius * cos(pi() * 3 / $num);
$base-xpos: $center-xpos - $circle-radius / 2;
$base-ypos: $center-ypos - $circle-radius / 2;
%abs-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.board {
  @extend %abs-center;
  width: $width;
  height: $width;
  border: 1px solid #ccc;
}
.center {
  position: absolute;
  top: $center-ypos;
  left: $center-xpos;
  width: 1px;
  height: 1px;
  background-color: #000;
  z-index: 1;
}
.box {
  position: absolute;
  width: $box-width;
  height: $box-height;
  background-color: rgba(black, .3);
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.circle {
  position: absolute;
  width: $circle-radius;
  height: $circle-radius;
  border-radius: 50%;
  left: 0;
  &:first-child {
    top: -$circle-radius / 2;
  }
  &:last-child {
    bottom: -$circle-radius / 2;
  }
}
@for $i from 0 to $box-num {
  $angle: 360 / $box-num * $i;
  @-webkit-keyframes rotate#{$i} {
    0% {
      -webkit-transform: rotate(($angle) % 360 + deg);
    } 16.666667%, 50% {
      -webkit-transform: rotate(($angle + 180) + deg);
    } 66.666667%, 100% {
      -webkit-transform: rotate(($angle + 360) + deg);
    }
  }
}
@for $i from 1 through $box-num {
  $no: $i - 1;
  $angle: 360 / $box-num * $no;
  .box:nth-child(#{$i}) {
    left: $center-xpos + $box-radius * cos($angle * pi() / 180) - $box-width / 2;
    top: $center-ypos + $box-radius * sin($angle * pi() / 180) - $box-height / 2;
    -webkit-transform: rotate(($angle) % 360 + deg);
    -webkit-animation-name: rotate#{$no};
    -webkit-animation-delay: $no * 10.0 / 24 + s;
    .circle:first-child {
      background-color: hsl(($angle + 180) % 360, 100%, 50%);
    }
    .circle:last-child {
      background-color: hsl(($angle + 225) % 360, 100%, 50%);
    }
  }
  // .circle:nth-child(#{$i}) {
  //   position: absolute;
  //   top: $base-ypos + $outer-radius * sin($angle * pi() / 180);
  //   left: $base-xpos + $outer-radius * cos($angle * pi() / 180);
  //   width: $circle-radius;
  //   height: $circle-radius;
  //   border-radius: 50%;
  //   background-color: hsl(($angle + 180) % 360, 100%, 50%);
  //   animation-duration: 5s;
  //   animation-name: rotate#{$no};
  // }
}