$num: 24;
$width: 400px;
$outer-radius: 140px;
$inner-radius: 50px;
$circle-radius: 20px;
$box-num: $num / 2;
$center-xpos: $width / 2;
$center-ypos: $width / 2;
$box-width: $circle-radius;
$box-height: $outer-radius;
$base-xpos: $center-xpos - $circle-radius / 2;
$base-ypos: $center-ypos - $circle-radius / 2;
%abs-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.board {
  @extend %abs-center;
  width: $width;
  height: $width;
  border: 1px solid #ccc;
}
.center {
  position: absolute;
  top: $center-ypos;
  left: $center-xpos;
  width: 1px;
  height: 1px;
  background-color: #000;
  z-index: 1;
}
.circle:first-child {
  position: absolute;
  width: $circle-radius;
  height: $circle-radius;
  border-radius: 50%;
  left: 0;
  top: 0 - $circle-radius / 2;
  // background-color: red;
}
.circle:last-child {
  position: absolute;
  width: $circle-radius;
  height: $circle-radius;
  border-radius: 50%;
  left: 0;
  bottom: 0 - $circle-radius / 2;
  // background-color: blue;
}
@for $i from 0 to $num {
  $angle: (360 / $num * ($i + 0.5)) % 360;
  $offset-angle: $angle + (360 / $num * 3);
  @-webkit-keyframes rotate#{$i} {
    0% {
      top: $base-ypos + $outer-radius * sin($angle * pi() / 180);
      left: $base-xpos + $outer-radius * cos($angle * pi() / 180);
    } 16.666667%, 83.333333% {
      top: $base-ypos + $outer-radius * sin($offset-angle * pi() / 180);
      left: $base-xpos + $outer-radius * cos($offset-angle * pi() / 180);
    } 100% {
      top: $base-ypos + $outer-radius * sin($angle * pi() / 180);
      left: $base-xpos + $outer-radius * cos($angle * pi() / 180);
    }
  }
}
@for $i from 1 through $box-num {
  $no: $i - 1;
  $angle: 360 / $box-num * $no;
  .box:nth-child(#{$i}) {
    position: absolute;
    background-color: rgba(0,0,0,.3);
    left: $center-xpos + $outer-radius * cos($angle * pi() / 180) - $box-width / 2;
    top: $center-ypos + $outer-radius * sin($angle * pi() / 180) - $box-height / 2;
    width: $box-width;
    height: $box-height;
    -webkit-transform: rotate(($angle) % 360 + deg);
  }
  // .circle:nth-child(#{$i}) {
  //   position: absolute;
  //   top: $base-ypos + $outer-radius * sin($angle * pi() / 180);
  //   left: $base-xpos + $outer-radius * cos($angle * pi() / 180);
  //   width: $circle-radius;
  //   height: $circle-radius;
  //   border-radius: 50%;
  //   background-color: hsl(($angle + 180) % 360, 100%, 50%);
  //   animation-duration: 5s;
  //   animation-name: rotate#{$no};
  // }
}